* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(152, 0, 71);
}
/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}