* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
/* Style the top navigation bar */
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: rgb(152, 0, 71);
    padding: 0 20px;
    height: 60px;
}
/* Style the topnav links */
.topnav .logo {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.menu {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.menu a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

.menu a:hover{
    background-color: #ddd;
    color: black;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnLogin {
    background-color: rgb(195, 255, 238);
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    transition: 0.3s;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.btnLogin:hover {
    background-color: rgb(0, 152, 120);
    color: white;
}

.btnRegister {
    background-color: #FFE4E1;
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    transition: 0.3s;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.btnRegister:hover {
    background-color: #FF4500;
    color: white;
}

.row{
    background-color: whitesmoke;
    padding: 5px;
    text-align: center; /*buton konumu*/
}

.column{
    text-align: center;
    width: 100%;
    padding: 20px;
}

/*Start Shopping Button*/
.button {
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(152, 0, 71);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px 10px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb'; /* >> iþareti */
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}